# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/

# IDEs / Editors
.vscode/
.idea/

# Bytecode / cache
*.db
*.sqlite3
*.log

# OS
.DS_Store

# Alembic / migrations cache
alembic/__pycache__/
